<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Registrarse como Empresa", "Registrar","Empresa")
        @Html.ActionLink("Listado de Empresas", "Listado", "Empresa")
    </div>
</body>
</html>
