@using System.Web.Optimization

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<div>
    @Html.ActionLink("Postulante", "Index", "Home")
    @*@Html.ActionLink("Registrate", "Registrar", "Empresa", new { })
    @Html.ActionLink("Ingresar", "Login", "Empresa")*@
    <a href="#myModal" role="button" class="btn" data-toggle="modal">Registrate</a>
    <a href="#" role="button" class="btn" data-toggle="modal">Ingresa</a>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Crear cuenta</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-error" style="display:none;">
            <strong>Error!<br /></strong><span class="errorMessage" />
        </div>  
        <form class="form-horizontal" role="form">
            <div class="control-group">
                <label class="control-label" for="EmailContacto">Email</label>
                <div class="controls">
                    <input type="email" id="EmailContacto" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Clave">Password</label>
                <div class="controls">
                    <input type="password" id="Clave" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="NumeroRuc">Número de RUC</label>
                <div class="controls">
                    <input type="text" id="NumeroRuc" placeholder="Número de RUC">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="RazonSocial">Razón social</label>
                <div class="controls">
                    <input type="text" id="RazonSocial" placeholder="Razón social">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button class="btn btn-primary" onclick="editarEmpresa.crearEmpresa();">Registrarse</button>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/upc")
}
