@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

    // When the browser is ready...
    $(function () {

        $.validator.addMethod("password", function (value, element) {
            return this.optional(element) || /(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{8,10})$/.test(value);
        }, "Passwords are 6-16 characters");

        // Setup form validation on the #register-form element
        $("#form1").validate({

            // Specify the validation rules
            rules: {
                RazonSocial: {
                    required: true,
                },
                NumeroRuc: {
                    required: true,
                    remote: {
                        url: "/Empresa/ExisteRUC",
                        //timeout: 2000,
                        type: "post",
                        data: {
                            ruc: function () {
                                return $("#NumeroRuc").val();
                            }
                        }
                    }
                },
                EmailContacto: {
                    required: true,
                    email: true,
                    remote: {
                        url: "/Empresa/ExisteEmail",
                        //timeout: 2000,
                        type: "post",
                        data: {
                            email: function () {
                                return $("#EmailContacto").val();
                            }
                        }
                    }
                },
                Clave: {
                    required: true,
                    minlength: 5,
                    password: true
                },
                Confirma: {
                    minlength: 5,
                    equalTo: "#Clave"
                },
                Rubro: {
                    required: true
                }
            },

            // Specify the validation error messages
            messages: {
                RazonSocial: {
                    required: "Ingrese la razón social"
                },
                NumeroRuc: {
                    required: "Ingrese el número de ruc",
                    number: true,
                    remote: "Existe una empresa registrada con el número de RUC"
                },
                Clave: {
                    required: "Ingrese el password",
                    minlength: "El password debe ser como mínimo de 5 caracteres",
                    password: "La contraseña debe estar entre 8 y 10 caracteres, por lo menos un digito y un alfanumérico, y no puede contener caracteres espaciales"
                },
                Confirma: "La contraseña ingresada no coincide con la anterior",
                EmailContacto: {
                    required: "Ingrese un email válido",
                    remote: "El email ingresado se encuentra registrado"
                },
                Rubro: "Seleccione el rubro"
            },
            highlight: function (element) {
                $(element).closest('.control-group').removeClass('success').addClass('error');
            },
            success: function (element) {
                element
                .text('OK!').addClass('valid')
                .closest('.control-group').removeClass('error').addClass('success');
            },

            submitHandler: function (form) {
                var clave = $('#Clave').val();
                var email = $('#EmailContacto').val();
                var ruc = $('#NumeroRuc').val();
                var razonSocial = $('#RazonSocial').val();
                var rubro = $('#Rubro').val();

                var empresa = {
                    Clave: clave,
                    EmailContacto: email,
                    NumeroRuc: ruc,
                    RazonSocial: razonSocial,
                    Rubro: rubro,
                };

                var url = 'Registrar';

                $.ajax(url, {
                    type: "POST",
                    data: { empresa: empresa, rubro: rubro },
                    dataType: "json",
                    success: function (data) {
                        if (data.Success == true) {
                            // The update operation has succeeded
                            window.location.href = 'Listado';
                            $('.success').show();
                            $('.alert.alert-error').hide();
                        }
                        else {
                            // The update operation has failed - display the error message
                            $('.success').hide();
                            $('.alert.alert-error').show();

                            var message = '';
                            for (var i = 0; i < data.Messages.length; i++) {
                                if (i > 0)
                                    message += '</br>';

                                message += data.Messages[i];
                            }
                            $('.errorMessage').html(message);
                        }

                        //loadingPanel.hide();
                    },
                    error: function (data) {
                        //loadingPanel.hide();
                    }
                });

                //form.submit();
            }
        });

    });

</script>

<style>
    label.valid {
        width: 24px;
        height: 24px;
        background: url(../Images/valid.png) center center no-repeat;
        display: inline-block;
        text-indent: -9999px;
        right: -5px;
        top: 0;
        position: absolute;
    }

    label.error {
        font-weight: bold;
        color: red;
        padding: 2px 8px;
        margin-top: 2px;
    }
</style>

<h2>Index</h2>

<div>
    @Html.ActionLink("Postulante", "Index", "Home")
    @*@Html.ActionLink("Registrate", "Registrar", "Empresa", new { })
        @Html.ActionLink("Ingresar", "Login", "Empresa")*@
    <a href="#myModal" role="button" class="btn" data-toggle="modal">Registrate</a>
    <a href="#" role="button" class="btn" data-toggle="modal">Ingresa</a>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Crear Empresa</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-error" style="display:none;">
                    <strong>Error!<br /></strong><span class="errorMessage" />
                </div>
                <form class="form-horizontal" role="form" id="form1">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="EmailContacto">Email</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="EmailContacto" name="EmailContacto" placeholder="Ingrese un email válido" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Clave" class="col-lg-3 control-label">Password</label>
                        <div class="col-lg-7">
                            <input type="password" class="form-control" id="Clave" name="Clave"
                                   placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Confirma" class="col-lg-3 control-label">Confirma el Password</label>
                        <div class="col-lg-7">
                            <input type="password" class="form-control" id="Confirma" name="Confirma"
                                   placeholder="Confirma el Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="NumeroRuc" class="col-lg-3 control-label">Número de RUC</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="NumeroRuc" name="NumeroRuc"
                                   placeholder="Número de RUC">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="RazonSocial" class="col-lg-3 control-label">Razón social</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="RazonSocial" name="RazonSocial"
                                   placeholder="Razón social">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Rubro" class="col-lg-3 control-label">Rubro</label>
                        <div class="col-lg-7">
                            @Html.DropDownList("Rubro", new SelectList(ViewBag.Rubros, "Id", "Descripcion"),
                            "<-Seleccione->", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <input type="submit" class="btn btn-primary" name="submit" value="Registrar" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" name="submit" value="Submit" />
                    <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/upc")
}